//
// Masthead section styling
//

.overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
}

.masthead-1{
    background-image: url("https://i.pinimg.com/originals/a8/77/ef/a877ef08bf5fed195b45253aba85cb98.jpg");
}

.masthead-2{
    background-image: url("https://picsum.photos/1920/1080");
}

.masthead-3{
    background-image: url("https://picsum.photos/1920/1080");
}

header.masthead {
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: $white;
    // background-image: url("/assets/img/logo.jpg");
    // background-color: $violin-1;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .masthead-subheading {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: $subheadings-font-family;
    }

    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: $headings-font-family;
    }
    
    .container{
        z-index: 50;
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        // padding-top: 12.5rem + 4.5rem;
        // padding-bottom: 12.5rem;

        .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
    }
}
