//
// Masthead section styling
//
.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    z-index: 50;
}
.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.masthead-1 {
    // background-image: url("https://i.pinimg.com/originals/a8/77/ef/a877ef08bf5fed195b45253aba85cb98.jpg");
    background-image: url("../../assets/img/masthead/905916_1515265275450134_3097124134624654250_o.jpg");
}

.masthead-2 {
    // background-image: url("https://picsum.photos/1920/1080");
    background-color: $violin-1;
}

.masthead-3 {
    // background-image: url("https://scontent.fsdu11-1.fna.fbcdn.net/v/t1.6435-9/82027104_2375786772731309_3526724597388935168_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeHcIK0EzZuAkkhD2FFbn8EyOamxV1aBaEM5qbFXVoFoQ4fRnxYRvUnANdw26_Ye9JKp2bo2I7PlpYHk7wgQHTsG&_nc_ohc=-fkX_e63P0sAX9kwV47&_nc_ht=scontent.fsdu11-1.fna&oh=08de91d833b938c8eea237a888166673&oe=60E32819");
    // background-image: url("https://scontent-gig2-1.xx.fbcdn.net/v/t1.6435-9/74285210_2335625986747388_6385842484764737536_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeEMH1n2IRgKMipXUIxEBtXekqpROzVE5O6SqlE7NUTk7iG1PeQyJE8n745CLke5RzI4DJzor8DvO2KR4FTHmq1y&_nc_ohc=H2oar1H-IKkAX-l7XRn&tn=M9UIB03TFHVMq9eg&_nc_ht=scontent-gig2-1.xx&oh=de521ae0732242af2367fba491911216&oe=60E3FA28");
    background-image: url("../../assets/img/masthead/73085498_2305463359763651_8116222239239569408_n.jpg");

}
.carousel-item {
    position: relative;
    video {
        position: absolute;
        z-index: 2;
        // height: 100%;
        width: 100%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

header.masthead {
    height: 98vh;
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: $white;
    // background-image: url("/assets/img/logo.jpg");
    // background-color: $violin-1;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .masthead-subheading {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: $subheadings-font-family;
    }

    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: $headings-font-family;
    }

    .container {
        z-index: 50;
        position: relative;
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        // padding-top: 12.5rem + 4.5rem;
        // padding-bottom: 12.5rem;

        .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
    }
}
