//
// Colors
//

// Override Bootstrap color variables

$violin-1: #FFA535;
$yellow: #ffc800;


// Override Bootstrap state colors variables

$primary: $yellow;
$secondary: #0279B3;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
